LISTEN_PORT=80

RABBITMQ_ERP_HOST=10.100.103.94
RABBITMQ_ERP_PORT=5672
RABBITMQ_ERP_LOGIN=gepur
RABBITMQ_ERP_PASS=gepur
RABBITMQ_ERP_VHOST=/gepur

MONGODB_HOST='10.7.0.111:27017'
MONGODB_USER=erp_gepur
MONGODB_PASSWORD=erp_gepur
MONGODB_DB=erp_gepur
